<%- include("templates/encabezado.ejs")%>
<br>
<br>
<a href="/logout"><button>Cerrar Sesion</button></a>
<br>
    <title>Lista de Usuarios (Médicos)</title>
    <style>
        .resaltado { font-weight: bold; }
    </style>

    <h1>Lista de Usuarios (Médicos)</h1>
    <dl>
        <% users.forEach((user) => { %>
            <dl>
                <dl>
                    <dt ><span class="resaltado">Médico:</span> <%= user.nombre %></dt>
                    <dt ><span class="resaltado">Mensualidad:</span> $<%= user.precio %></li>
                    <dt><span class="resaltado">Fecha de Pago (Transferencia bancaria):</span> <%= user.fecha %></dt>
                    <dt><span class="resaltado">Hora de Pago:</span> <%= user.hora %></li>
                    <dt><span class="resaltado">Especialidad:</span> <%= user.consultorio %></dt>
                </dl>
                <a href="/edit/<%= user.id %>"><button>Editar</button></a>
                <a href="/delete/<%= user.id %>"><button>Borrar</button></a>
            </>
        <% }); %>
            </dl>
    <a href="/add"><button>Agregar Nuevo Médico</button></a>
<br>
<br>

<%- include("templates/pie.ejs")%>

